body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* do challenge 5. */

.nav_links {
    display: flex;
    flex-direction: column;
}


.card header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

#logo {
    animation-name: expand;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes expand {
    from {
        width: 50px;
        opacity: 0;
    }
    to {
        width: 425px;
        opacity: 1;
    }
}

@media screen and (min-width: 850px){
    header {
        position: sticky;
    }

    nav_links {

    }
}