body {
    font-family: 'Alegreya Sans SC', serif;
    background-image: url('../images/concrete_seamless.png');
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* do challenge 5. */
a:visited {
    color: blue;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

.card header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    flex-basis: 450px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

#logo {
    animation-name: expand;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes expand {
    from {
        width: 50px;
        opacity: 0;
    }
    to {
        width: 425px;
        opacity: 1;
    }
}

@media screen and (min-width: 850px){
    header {
        display: flex;
        flex-direction: row;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
    }

    .pricing header {
        position: static;
        justify-content: center;
    }

    .nav_links {
        flex-direction: row;
        align-items: center;
    }

    .card {
        flex-basis: 250px;
    }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo {
        animation: none;
    }
}

@media print {
    body {
        background-image: none;
    }
    nav {
        width: 100%;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .pricing {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    #gallery, .gallery {
        display: none;
    }
}